.reviews{
    padding: 2rem;
    color: black;
}

.review-list{
    display: grid;
    gap: 2rem;

    list-style-type: none;

    padding: 0;

}

.list{
    position: relative;
    padding: 2.1rem;
    background-color: white;
    border-radius: 2.8rem;
    box-shadow: 0 3px 6px rgba(123, 113, 113, 0.16), 0 3px 6px rgba(41, 39, 39, 0.23);

   
}

.review-panel{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: large;
}


.date-container{
    position: absolute;
    right: 2rem;
}
.rating-container{
    margin-top: 1.8rem;
    margin-left: 1rem;
}
.name-date-rate-container{
    display: flex;

    padding: 1rem;
}



